{% extends 'inner.html' %}

{% block content %}
  
<script type='text/javascript'>
  $(function(){
    
  })
  function loader(){
    $.post('/load/')
    setTimeout("loader()",5000);
  }
</script>
  
<div style="padding: 15px 20px; border-bottom: 1px solid #d9d9d9; background: #f3ff92;">
<h2 style="margin: 0;">Dashboard Feed</h2>
</div>
<div class="items">
  <div class="item clearfix">
    <div class="item-image">
      <img src="{{ STATIC_URL }}img/badge1.png">
    </div>
    <div class="item-desc">
      <strong>monkeyman8</strong> just got the "Brass Knuckles" badge!<br />
      <div class="time">5 minutes ago</div>
    </div>
  </div>
  <div class="item clearfix">
    <div class="item-image">
      <img src="{{ MEDIA_URL }}images/full/c2db0b75bf63b677f79d34226a00555a.jpg">
    </div>
    <div class="item-desc">
      <strong>bradmachine</strong> saved $80.00 on $500.00 of groceries for 37 points<br />
      <div class="time">35 minutes ago</div>
    </div>
  </div>
  <div class="item clearfix">
    <div class="item-image">
      <img src="{{ STATIC_URL }}img/badge2.png">
    </div>
    <div class="item-desc">
      <strong>leo</strong> is on a crazy streak with 33% overall savings this month<br />
      <div class="time">3 hours ago</div>
    </div>
  </div>
</div>
<style type='text/css'>
  .item {
    border-bottom: 1px solid #d9d9d9;
    padding: 20px;
  }
  .item-desc {
    float: left;
    width: 480px;
    padding-top: 15px;
  }
  .item-image {
    float: left;
    width: 90px;
  }
  .item-desc .time {
    font-size: 13px;
    color: #aaa;
  }
  .item-image img{
    width: 75px;
    height: 75px;
    border-radius: 5px;
  }
</style>


{% endblock %}