{% extends 'index.html' %}

{% block content %}
<div class="login-box">
  <form method="post" action="">
    {% csrf_token %}
  <div>
    <input placeholder="username..." type="text" name="username" />
  </div>
  <div>
   <input placeholder="password..." type="password" name="password" />
  </div>
  <div>
   <div style="text-align: right; ">
     <a href="/members/register/" class="button">Register</a>
     <input type="submit" value="Login" style="font-weight: bold;" class="button" />
    </div>
  </div>
  </form>
</div>
<img src="{{ STATIC_DIR }}img/piggyfight-wf.png"  width="400" style="margin: 0 auto;" />
{% endblock %}