{% extends 'index.html' %}

{% block content %}
<div class="login-box">
  <form method="post" action="">
    {% csrf_token %}
  <div>
    <input placeholder="username..." type="text" name="username" />
  </div>
  <div>
   <input placeholder="password..." type="password" name="password" />
  </div>
  <div>
   <div style="text-align: right; ">
     <a href="/members/register/" class="button">Register</a>
     <input type="submit" value="Login" style="font-weight: bold;" class="button" />
    </div>
  </div>
  </form>
</div>

<div class="login-box">
<img src="{{ STATIC_DIR }}img/piggyfight-wf.png"  width="400" style="margin: 0 auto;" />
<p>
  At PiggyFight, you'll create your own fantasy sports version of savings. Create a group with your friends and compete to see who can rack up the most savings at local stores. Top players can go hogwild with awesome free swag from the stores they shop at!
</p>
</div>
{% endblock %}