{% load static %}
{% get_static_prefix as STATIC_DIR %}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" class="login"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Piggy Fight | Save. Snap. Score.</title>
  <meta name="description" content="">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <link rel="stylesheet" href="{{STATIC_DIR}}css/style.css">

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
  <script src="{{ STATIC_DIR }}js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body style="background: #e5e5e5; background-image: none !important;">
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<div style="background: #e6f9d3; border-bottom: 2px solid #7cbf3a; padding: 10px 0px; height: 80px;">
    <div class="container">
    <div style="float: left"><img src="{{ STATIC_DIR }}img/piggyfight-logo.png" width="300" /></div>
    <div style="float: right; padding-top: 30px;">Logged in as {{user}} &nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="button">Logout</a></div>
    </div>
</div>
<div class="container clearfix" style="margin-top: 25px">

    <div class='inner clearfix' style="width: 960px; background: white; box-shadow: 0px 2px 2px #666; border-radius: 5px;">
        <div style="width: 659px; float: left; border-right: 1px solid #ccc; background: #f7f7f7; min-height: 700px;">
            {% block content %}
            Content
        {% endblock %}
        </div>
        <div style="width: 300px; float: left; min-height: 700px; background: #eaffb7;">
            <h4 style='padding: 10px; background: #6caf1a; color: white; text-shadow: 0px 1px 1px #333;'>Your Badges</h4>
            <div style="padding: 10px;">
            <img src='{{STATIC_DIR}}img/badge1.png'>
            <img src='{{STATIC_DIR}}img/badge2.png'>
            <img src='{{STATIC_DIR}}img/badge3.png'>
            <img src='{{STATIC_DIR}}img/badge4.png'>
            </div>
            <h4 style='margin-top: 10px;padding: 10px; background: #6caf1a; color: white; text-shadow: 0px 1px 1px #333;'>Upload Receipts</h4>
            <div style="padding: 5px 10px;">
                Send email invoices and pictures of receipts to:
                <h3 style='background: white; margin-top: 5px; padding: 3px;'>pic@piggy.mailgun.org</h3>
            </div>
        </div>
    </div>
    <div style='margin-top: 75px; color: white; text-align: center;'>&copy; 2012 - PiggyFight - A Hog Labs Production</div>
</div>


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via build script -->
  <script src="{{ STATIC_DIR }}js/plugins.js"></script>
  <script src="{{ STATIC_DIR }}js/script.js"></script>
  <!-- end scripts -->

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>